@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@font-face {
  font-family: RobotoSlab;
  src: url("fonts/RobotoSlab.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto.ttf");
}

:root {
  --primary-color: #019644;
  --primary-orange: #FF9E35;
  --secondary-purple: #AB50B1;
  --secondary-purple-light: rgba(171, 80, 177, 0.09);
  --secondary-teal: #1EB4B7;
  --secondary-teal-light: rgb(30, 180, 183, 0.09);
  --secondary-yellow: #FDD913;
  --secondary-yellow-light: rgb(253, 217, 19, 0.09);
  --secondary-green: #5AC230;
  --secondary-green-light: rgb(90, 194, 48, 0.09);
  --secondary-red: #FF5D1D;
  --secondary-red-light: rgb(255, 93, 29, 0.09);
  --secondary-blue: #6C63FF;
  --secondary-blue-light: rgb(108, 99, 255, 0.09);
  --dark-color: #212121;
  --primary-txt-color: #3A3A3A;
  --txt-light-color: #A2A2A2;
  --white-color: #ffffff;
  --font-primary: 'Open Sans', sans-serif;
  --bdr-color: rgba(0, 0, 0, 0.175);
}


/*layout style start here*/
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*{
  padding: 0px;
  margin: 0px;
}

.btn.active,
.btn:active {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.navbar-header {
  float: none !important;
}

a {
  text-decoration: none;
  color: #212121;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
}

.btn:hover {
  opacity: 0.9;
}

.btn-outline-warning {
  border-color: var(--primary-orange);
  color: var(--primary-orange);
  border-radius: 0px;
}

.btn-outline-warning:hover,
.btn-outline-warning:focus {
  color: #ffffff !important;
  background: var(--primary-orange) !important;
}

.btn-warning {
  background: var(--primary-orange);
  border-color: var(--primary-orange);
  border-radius: 0px;
  color: #ffffff;
}

.btn-warning:hover,
.btn-warning:focus {
  background: var(--primary-orange) !important;
  color: #ffffff !important;
  border-color: var(--primary-orange) !important;
}

.btn-primary {
  background: var(--primary-color);
  border-color: var(--primary-color);
  border-radius: 0px;
  color: #ffffff;
}

.btn-primary:hover,
.btn-primary:focus {
  background: var(--primary-color) !important;
  color: #ffffff !important;
  border-color: var(--primary-color) !important;
}

.btn-success {
  background: var(--secondary-green);
  border-color: var(--secondary-green);
  border-radius: 0px;
  color: #ffffff;
}

.btn-success:hover,
.btn-success:focus {
  background: var(--secondary-green) !important;
  color: #ffffff !important;
  border-color: var(--secondary-green) !important;
}

.rouned-blue-btn {
  background: #008CCE;
  color: #fff;
  padding: 12px 24px;
  border-radius: 50px;
}

.rouned-blue-btn:hover,
.rouned-blue-btn:focus {
  color: #fff;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.09);
  background: #049BE2;
}

.bg-purple-light {
  background: rgba(171, 80, 177, 0.09);
}

.bg-teal-light {
  background: rgba(30, 180, 183, 0.09);
}

.bg-teal-dark {
  background-color: var(--secondary-teal);
}

.bg-green-dark {
  background-color: var(--secondary-green);
}

.bg-red-dark {
  background-color: var(--secondary-red);
}

.bg-blue-dark {
  background-color: var(--secondary-blue);
}

.bg-yellow-dark {
  background-color: var(--secondary-yellow);
}

.bg-orange-dark {
  background-color: var(--primary-orange);
}

.bg-purple-dark {
  background-color: var(--secondary-purple);
}

.bg-primary-color {
  background-color: var(--primary-color);
}

.bg-blue-dark2 {
  background-color: #5E35B1;
}

.bg-brown-dark {
  background-color: #976847;
}

.bg-yellow-dark2 {
  background-color: #B89C00;
}

.bg-primary-color {
  background-color: var(--primary-color);
}

.bg-primary-orange {
  background-color: var(--primary-orange);
}

.bg-gray-light {
  background-color: #fafafa;
}

.p-10 {
  padding: 10px !important;
}

.p-20 {
  padding: 20px !important;
}

.p-25 {
  padding: 25px !important;
}

.p-30 {
  padding: 30px !important;
}

.p-35 {
  padding: 35px !important;
}

.p-40 {
  padding: 40px !important;
}

.p-10 {
  padding: 10px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-30 {
  padding-top: 20px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.pt-70 {
  padding-top: 70px !important;
}

.pt-80 {
  padding-top: 80px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

.pb-60 {
  padding-bottom: 60px !important;
}

.pb-70 {
  padding-bottom: 70px !important;
}

.pb-80 {
  padding-bottom: 80px !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.pl-50 {
  padding-left: 50px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.pr-50 {
  padding-right: 50px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mt-90 {
  margin-top: 90px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.mb-110 {
  margin-bottom: 110px !important;
}

.mb-120 {
  margin-bottom: 120px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.ml-18 {
  margin-left: 18px !important;
}


.no-bg {
  background: none !important;
}

.font-8 {
  font-size: 8px !important;
}

.font-9 {
  font-size: 9px !important;
}

.font-10 {
  font-size: 10px !important;
}

.font-11 {
  font-size: 11px !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-13 {
  font-size: 13px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-15 {
  font-size: 15px !important;
}

.font-16 {
  font-size: 16px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-20 {
  font-size: 20px !important;
}

.font-22 {
  font-size: 22px !important;
}

.font-23 {
  font-size: 23px !important;
}

.font-24 {
  font-size: 24px !important;
}

.font-25 {
  font-size: 25px !important;
}

.font-26 {
  font-size: 26px !important;
}

.font-28 {
  font-size: 28px !important;
}

.font-30 {
  font-size: 30px !important;
}

.font-32 {
  font-size: 32px !important;
}

.font-34 {
  font-size: 34px !important;
}

.fw-300,
.font-light {
  font-weight: 300 !important;
}

.fw-400,
.font-normal {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700,
.font-bold {
  font-weight: 700 !important;
}

.fw-800,
.font-bolder {
  font-weight: 800 !important;
}

.letter-spacing-02 {
  letter-spacing: 0.2px !important;
}

.letter-spacing-03 {
  letter-spacing: 0.3px !important;
}

.line-height-defaut {
  line-height: 1.5 !important;
}

.line-height-24 {
  line-height: 24px !important;
}

.line-height-26 {
  line-height: 26px !important;
}

.line-height-28 {
  line-height: 28px !important;
}

.line-height-30 {
  line-height: 30px !important;
}

.no-caret:after {
  content: '';
  display: none;
}

.custom-dropdown {
  position: relative;
}

.custom-dropdown .dropdown-menu.show {
  position: absolute;
  top: 30px !important;
  transform: inherit !important;
}

.dropdown-menu.show {
  padding: 0px;
}

.heading {
  font-family: var(--fontprimary);
  color: var(--primary-txt-color);
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 600;
}

.heading-sm {
  font-family: var(--fontsecondary);
  color: var(--primary-txt-color);
  font-weight: 600;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  border-top: 1px dotted rgba(0, 0, 0, .1);
}

.inner-wrapper {
  padding: 48px 0px;
}

ul.listing li {
  margin-left: 1.2em;
  margin-bottom: 10px;
}

ul.listing li::before {
  content: "\2022";
  color: #6C63FF;
  font-weight: bold;
  display: inline-block;
  font-size: 20px;
  width: 1em;
  margin-left: -1em;
}

input.form-control,
select.form-control,
.form-select {
  border-radius:4px;
  height:54px;
  border-color:#666;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: var(--primary-color);
    outline: 0;
    box-shadow: none;
}
body {
  font-size: 16px;
  font-family: var(--font-primary);
  line-height: 1.5;
  font-weight: 300;
  font-kerning: normal;
  text-rendering: optimizeSpeed;
  background: #ffffff;
}

.header-logo {
  width: 260px;
}

.navbar {
  padding: 28px;
  background-color: #ffffff !important;
  margin-left: 40px;
  margin-right: 40px;
}

.nav-item {
  font-size: 28px;
  font-weight: 400;
  margin-left: 60px;
}

.btn-primary {
  background-color: var(--primary-color);
}
.btn{
  border-radius:4px;
  font-size: 18px;
  padding:12px 10px;
}

.btn-nav-login{
  width: 140px;
  border-radius: 10px;
}

.btn-outline-primary {
  color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  font-size: 18px;
  border-radius: 10px;
  width: 140px;
}

.btn-outline-primary:hover {
  color: #ffffff !important;
  background-color: var(--primary-color) !important;
}

.home {
  height: 800px;
  background: url(../images/bg-1.png) no-repeat;
  border-radius: 40px 40px 0 0;
  margin-left: 57px;
  margin-right: 57px;
  background-size: 100%;
}

.card {
  height: 452px;
  width: 844px;
  border-radius: 20px;
  top: 120px;
  left: 190px;
  background-color: var(--primary-color);
}

.btn-marijuana-card {
  color: var(--primary-color);
  background-color: #ffffff;
  width: 418px;
  height: 60px;
  top: 346px;
  position: absolute;
  margin-left: 160px;
  font-size: 22px;
  font-weight: 600;
}

.btn-marijuana-card:hover {
  background-color: #ffffff !important;
  color: var(--primary-color) !important;
}

.card-body {
  padding: 40px;
}

.card-body h4 {
  font-size: 48px;
  color: #ffffff;
}

.dropdown-toggle {
  top: 50px;
  position: absolute;
  height: 80px;
  width: 766px;
  background-color: #ffffff;
  color: #000000;
  font-size: 26px;
}

.dropdown-toggle:hover {
  background-color: #ffffff;
  color: #000000;
}

.dropdown-toggle::after {
  margin-left: 16.255em !important;
}

.dropdown-menu {
  width: 50%;
}

.img-man {
  top: 188px;
  position: absolute;
  right: 195px;
}

.about-us {
  margin-top: 100px;
}

.heading {
  font-size: 60px !important;
  color: var(--primary-color);
  font-weight: 500;
}

.heading-about {
  text-align: center;
}

.heading-about::after {
  content: "";
  display: block;
  height: 10px;
  width: 246px;
  background: var(--primary-color);
  margin: auto;
  margin-top: 10px;
}

.text-about {
  font-size: 22px;
  padding: 57px;
}

.our-vision {
  padding: 57px;
  background-color: #ececec;
}

.our-mission {
  padding: 57px;
}

.heading-mission {
  font-size: 48px;
  color: #000000;
  font-weight: 400;
}

.text-mission {
  font-size: 22px;
}

.heading-mission::after {
  content: "";
  display: block;
  height: 10px;
  width: 70px;
  background: var(--primary-color);
  margin-top: 8px;
}

.footer {
  background-color: #2D2D2D;
  color: #FFFFFF;
  font-size: 28px;
  padding: 46px;
  padding-bottom: 20px;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

li {
  list-style: none;
}

.icon li {
  list-style: none;
  margin-right: 45px;
}

.icon {
  display: flex;
}

.footer-logo {
  margin-bottom: 20px;
  width: 260px;
}

hr {
  text-decoration: none !important;
  border-top: 2px solid #ffffff !important;
}

.signup-form{
      background: linear-gradient(45deg, #e6ffe8, transparent);
}
.signup-logo {
  width:320px;
  max-width:100%;
  margin-left:20px;
  margin-top:20px;
}

.dropdown-toggle-signup,
.signup-form-wrapper{
  max-width:580px;
  margin: auto;
}
.dropdown-toggle-signup{ 
  height: 52px;
  position: unset !important;
  margin-top: 20px;
  font-size: 22px;
  border-radius: 10px !important;
  margin-bottom:40px;
}

.dropdown-toggle-signup::after {
  margin-left: 12.255em !important;
}

.heading-signup, 
.heading-login{
  font-size:32px;
  color:#212121;
  font-weight:500;
  text-align: center;
  margin-top:80px;
  margin-bottom: 40px;
}
.heading-signup::after {
    content: "";
    display: block;
    height: 10px;
    width: 60px;
    background: var(--primary-color);
    margin:10px auto;
}
.form-label{
  font-size: 18px !important;
  color: #333 !important;
  font-weight: 600;
}

.img-signup{
  background: url("../images/img-signup.png") no-repeat;
  background-position: top center;
  background-size: 100% 100%;
    height: 100vh;
}

.img-login{
  background: url("../images/img-login.png") no-repeat;
  background-position: top center;
  background-size: 100% 100%;
    height: 100vh;
}

.signup-login-text {
  margin-top:40px;
  font-size: 22px;
}
.signup-copyright{
  margin-top: 60px;
}
[class*="login-bg-color"]{
  border:none;
  padding: 12px 5px;
  color: #ffffff;
}
[class*="login-bg-color"]:hover,
[class*="login-bg-color"]:focus{
  color: #ffffff;
}
.login-bg-color-1{
  background: #6c5ce7 !important;
}
.login-bg-color-2{
  background: #0984e3 !important;
}
.login-bg-color-3{
  background: #00cec9 !important;
}
.login-bg-color-4{
  background: #00b894 !important;
}

@media(max-width:768px){
  .img-signup{
    display: none
  }
}